.jumbotron h1{
    text-align: center;
}
.jumbotron p{
    text-align: center;
}
#siteContent{
    text-align: center;
}
.jumbotron{
    background-image: url("jumbotron.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#footer{
    background-image: none;
    background-color: #007bff;
    height: 360px;
    color: white;
}
#footer div h1{
    font-size:24pt !important;
    font-weight: 500;
}
#footer div img{
    width: 150px;
}
.card-title img{
    width: 25px;
    margin-bottom: 4px;
    margin-right: 3px;
}