.jumbotron h1{
    text-align: center;
}
.jumbotron p{
    text-align: center;
}
#siteContent{
    text-align: center;
}
.jumbotron{
    background-image: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}